@model Dominio.Servicio

@{
    ViewData["Title"] = "Platos";
}

<h1>Platos</h1>
<label>Costo Final:</label>
<label>@Model.CalcularCosto()</label>

@if (Model.Estado == "Abierto")
{
<form method="post">
    <label>Plato</label>
    <select name="platoId">
        @foreach (var plato in ViewBag.platos)
        {
            <option value="@plato.Id"> @plato.Nombre $@plato.Precio </option>
        }
    </select>

    <label>Cantidad</label>
    <input type="number" name="cantidad" />

    <input class="d-none" type="number" name="servicioId" value="@Model.Id" />

    <input type="submit" value="Confirmar" />
</form>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
               Precio
            </th>
            <th>
               Cantidad
            </th>
            
        </tr>
    </thead>
    <tbody>

           
              

    @foreach (var item2 in Model.carrito)
    {
        <tr>
            <td>
                @item2.Plato.Nombre

            </td>
            <td>
                @item2.Plato.Precio
            </td>
            <td>
                @item2.Cantidad
            </td>

        </tr>
    }
                   
    </tbody>
</table>
