@model Dominio.Servicio

@{
    ViewData["Title"] = $"Platos de Servicio #{Model.Id}";
}

<h1>Platos de Servicio #@Model.Id</h1>


@if (Model.Estado == "Abierto")
{
    <label>Costo Actual:</label>
    <label>@Model.CalcularCosto()</label>

    <form method="post" id="formAlta">
        <label>Plato</label>
        <select name="platoId" id="slcPlato">
            @foreach (var plato in ViewBag.platos)
            {
                <option value="@plato.Id"> @plato.Nombre $@plato.Precio </option>
            }
        </select>

        <label>Cantidad</label>
        <input type="number" name="cantidad" id="txtCantidad" />

        <input class="d-none" type="number" name="servicioId" value="@Model.Id" />

        <input type="submit" value="Confirmar" />
    </form>
}
else
{
    <label>Precio Final:</label>
    <label>@Model.PrecioFinal</label>
}



<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Precio
            </th>
            <th>
                Cantidad
            </th>

        </tr>
    </thead>
    <tbody>




        @foreach (var item2 in Model.carrito)
        {
            <tr>
                <td>
                    @item2.Plato.Nombre

                </td>
                <td>
                    @item2.Plato.Precio
                </td>
                <td>
                    @item2.Cantidad
                </td>

            </tr>
        }

    </tbody>
</table>



@if (TempData["msg"] != null)
{
    <script type="text/javascript">
        const notyf = new Notyf();
        notyf.success({
            message: "@TempData["msg"]",
            duration: 3500,
            position: {
                x: 'right',
                y: 'top',
            },
        })
    </script>
}


@section scripts {

    <script>

        document.querySelector("#formAlta").addEventListener('submit', validarDatos);

        function validarDatos(evento) {

            evento.preventDefault();

            let plato = parseInt(document.querySelector("#slcPlato").value);
            let cantidad = parseInt(document.querySelector("#txtCantidad").value);


            if (plato > 0 && cantidad > 0) {
                this.submit();
            } else {
                const notyf = new Notyf();
                notyf.error({
                    message: "Error, cantidad debe ser mayor a 0 y asegurese de seleccionar un plato.",
                    duration: 3500,
                    position: {
                        x: 'right',
                        y: 'top',
                    },
                })
            }

        }
    </script>

}